.booking-modal-container {}

.booking-modal-container .booking-modal-content {
    height: 500px;
    display: flex;
    flex-direction: column;
}

.booking-modal-container .booking-modal-content .booking-modal-header {
    /* height: 30px; */
    border-bottom: 1px solid#ccc;
    padding: 10px;
}

.booking-modal-container .booking-modal-content .booking-modal-header .booking-modal-header-left {
    font-size: 18px;
    font-weight: 600;
    color: #333;
    text-transform: uppercase;
}

.booking-modal-container .booking-modal-content .booking-modal-header .booking-modal-header-right {
    float: right;
    cursor: pointer;
    font-size: 17px;
}

.booking-modal-container .booking-modal-content .booking-modal-body {
    height: 80%;
}

.booking-modal-container .booking-modal-content .booking-modal-footer {
    /* height: 30px; */
    display: flex;
    padding: 10px;
    border-top: 1px solid #ccc;
    justify-content: flex-end;
    gap: 15px;

}

.booking-modal-container .booking-modal-content .booking-modal-footer button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 5px 8px;
    background-color: #0d6efd;
    color: #fff;
}
.booking-modal-container .booking-modal-content .booking-modal-footer .btn-booking-confirm{
   
  
}
.booking-modal-container .booking-modal-content .booking-modal-footer .btn-booking-cancel{
  

}